*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100%;

}
.header_inner{
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.top_header{
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo a{
  text-decoration: none;
  color: #222;
  font-family: roboto;
  letter-spacing: 5px;
  font-size: 24px;
}
.search{
  display: flex;
  justify-content: flex-end;
  margin-right: 27.5px;
  width: 100%;
  align-items: center;
}
.search_inner{
  display: flex;
  max-width: 250px;
  height: 38px;
}
.input{
  display: flex;
  align-items: center;
  position: relative;
  border: 0.5px solid rgb(203, 199, 199);
}
.input input{
  height: 100%;
  padding-left:5px ;
  border: none;
}
.iconx{
  position: absolute;
  right: 2px;
}
.search_icon{
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}
.header_right{
  height: 100%;
  display: flex;
  align-items: center;

}
.header_right ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  height: 48px;
  width: 100%;
}
.header_right ul li a{
  font-size: 24px;
  text-decoration: none;
  color: black;
  margin-right: 5px;
}
.header_right ul li{
  margin-right: 5px;
  display: flex;
  align-items: center;
}

/* Navigation */

.first_category{
  width: 100%;
}
.first_category ul{
  display: flex;
}
.main_cate{
  display: flex;
  width: 100%;
}
.main_cate li{
  
}
 li{
  list-style: none;
  margin: 10px 10px;
  text-decoration: none;
  color: #000;
}
.second_category ul{
  display: flex;
  flex-direction: column;
}
.second_category{
  height: 400px;
  width: 100%;
  background-color: aquamarine;
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
}
.second_category ul{
  width: 250px;
  background-color: aliceblue;
}